<!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="{{url_for('home')}}" class="logo d-flex align-items-center">
        <img src="/img/logo.png" alt="Logo of three blue boxes lined up as steps">
        <span style="font-size: clamp(17px, 1.7vw, 35px);">Privacy-by-Design Maturity</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="{{url_for('home')}}#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="{{url_for('home')}}#benefits">Benefits</a></li>
          <li><a class="nav-link scrollto" href="{{url_for('home')}}#model">Model</a></li>
          <li><a class="nav-link scrollto" href="{{url_for('home')}}#research">Research</a></li>
          <li><a class="nav-link scrollto" href="{{url_for('home')}}#faq">FAQ</a></li>

          <li><a class="getstarted scrollto" href="{{url_for('assessmentIntro')}}">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->